@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One:wght@300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    list-style: none;
    border: 0;
    font-family: 'Rubik', sans-serif;
    line-height: 1.2;
    scroll-behavior: smooth;
}

* {
    scrollbar-width: thin;
    scrollbar-color: rgb(139, 139, 139) transparent;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(139, 139, 139);
    border-radius: 20px;
    border: 3px solid transparent;
}

body {
    background-color: #141414;
    width: 100%;
    color: #F5F5F5;
}

header {
    position: fixed;
    width: 100%;
    padding: 15px 50px;
    z-index: 200;
    background: linear-gradient(to bottom, #000, transparent);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 2rem;
    text-transform: uppercase;
}

nav a {
    text-decoration: none;
    color: white;
}

nav ul a {
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 20px;
}

nav ul a:hover {
    background-color: white;
    color: black;
}

.badge a {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.6rem;
    font-size: 20px;
}

.badge img {
    width: 4%;
}


.container {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 65%;
}

.pjct-title {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 130px;
}

.pjct-title h2 {
    font-weight: 100;
    font-size: 50px;
    letter-spacing: 1.5px;
}

@media only screen and (max-width: 1500px) and (orientation: landscape) {
    h1 {
        font-size: 110px;
    }
}

@media only screen and (max-width: 1290px) and (orientation: landscape) {
    .logo img {
        width: 60%;
    }

    h1 {
        font-size: 90px;
    }

    .pjct-title h2 {
        font-size: 40px;
    }
}

@media only screen and (max-width: 1024px) and (orientation: landscape) {
    h1 {
        font-size: 80px;
    }

    .pjct-title h2 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 1024px) and (orientation: portrait) {
    .container {
        flex-direction: column;
    }

    .logo {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: end;
        justify-content: center;
    }

    .logo img {
        width: 65%;
    }

    .pjct-title {
        width: 100%;
        height: 50%;
    }

    h1 {
        font-size: 130px;
        text-align: center;
    }

    .pjct-title h2 {
        font-size: 50px;
        margin-bottom: 2px;
        text-align: center;
    }
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
    .logo img {
        width: 60%;
    }

    h1 {
        font-size: 100px;
    }

    .pjct-title h2 {
        font-size: 40px;
    }
}

@media only screen and (max-width: 590px) and (orientation: portrait) {
    .logo img {
        width: 65%;
    }

    h1 {
        font-size: 80px;
    }

    .pjct-title h2 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 490px) and (orientation: portrait) {
    .logo img {
        width: 70%;
    }

    h1 {
        font-size: 55px;
    }

    .pjct-title h2 {
        font-size: 20px;
    }
}

.item {
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 20px
}

.travessias {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.travessias img {
    width: 70%;
}

.informations {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    div {
        margin-left: 10%;
    }
}

.informations h2 {
    font-size: 110px;
}

.text {
    width: 85%;
    font-size: 30px;
    font-weight: 100;
}


@media only screen and (max-width: 1500px) and (orientation: landscape) {
    .informations h2 {
        font-size: 100px;
    }

    .text {
        font-size: 28px;
    }
}

@media only screen and (max-width: 1290px) and (orientation: landscape) {
    .informations h2 {
        font-size: 90px;
    }

    .text {
        font-size: 26px;
    }

    .item {
        font-size: 26px;
    }
}

@media only screen and (max-width: 1024px) and (orientation: landscape) {
    .informations h2 {
        font-size: 70px;
    }

    .text {
        font-size: 24px;
    }

    .item {
        font-size: 24px;
    }
}

@media only screen and (max-width: 1024px) and (orientation: portrait) {
    .item {
        font-size: 30px;
    }

    .travessias {
        width: 100%;
        height: 50%;
    }

    .travessias img {
        width: 65%;
    }

    .informations {
        width: 90%;
        height: 40%;
    }

    .informations h2 {
        font-size: 110px;
        margin-bottom: 5px;
    }

    .text {
        width: 100%;
        font-size: 27px;
        font-weight: 100;
    }
}

@media only screen and (max-width: 768px) and (orientation: portrait) {
    .item {
        font-size: 28px;
    }

    .travessias img {
        width: 62%;
    }

    .informations h2 {
        font-size: 90px;
    }

    .text {
        font-size: 25px;
    }
}

@media only screen and (max-width: 590px) and (orientation: portrait) {
    .item {
        font-size: 26px;
    }

    .travessias {
        width: 100%;
        height: 40%;
    }

    .travessias img {
        width: 60%;
    }

    .informations h2 {
        font-size: 60px;
    }

    .informations {
        width: 90%;
        height: 55%;
    }

    .text {
        font-size: 22px;
    }
}

@media only screen and (max-width: 490px) and (orientation: portrait) {
    .item {
        font-size: 23px;
    }

    .travessias img {
        width: 65%;
    }

    .informations h2 {
        font-size: 50px;
    }

    .informations {
        width: 95%;
    }

    .text {
        font-size: 20px;
    }
}


.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.count {
    height: 90vh;
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: start;
}

.card {
    width: 350px;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    overflow: hidden;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .3s ease-in-out;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
}

.cd1 {
    background-image: url(../assets/segurança.png);
}

.cd2 {
    background-image: url(../assets/Confiança.png);
}

.cd3 {
    background-image: url(../assets/Acessibilidade.png);
}

.cd4 {
    background-image: url(../assets/Nescessidade.png);
}

.card>.row {
    color: white;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, black, transparent);
}

.card>.row>.description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    padding: 50px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: white;
    font-size: 20px;
    padding-top: 50px;
    font-weight: 300;
}

.description h4 {
    text-transform: uppercase;
    font-size: 3rem;
}

input {
    display: none;
}

input:checked+label {
    width: 100%;
}

input:checked+label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

input:checked+.card[for="c1"] {
    background-image: url(https://i.pinimg.com/originals/4d/e6/83/4de683e93a2f73fea408471ab24d4355.jpg);
}

input:checked+.card[for="c2"] {
    background-image: url(https://i.pinimg.com/originals/98/41/59/984159127a0b131984d8535058f3f366.jpg);
}

input:checked+.card[for="c3"] {
    background-image: url(https://a.cdn-hotels.com/gdcs/production75/d1821/443b14b1-8d56-4d6a-a600-23dd50147f05.jpg);
}

input:checked+.card[for="c4"] {
    background-image: url(https://gizmodo.uol.com.br/wp-content/blogs.dir/8/files/2019/04/homem-cego-rua-getty-800x450.jpg);
}

@media (orientation: portrait) {
    .description p {
        font-size: 18px;
        padding-top: 0px;
    }

    .description h4 {
        font-size: 1.5rem;
    }

    input:checked+label {
        height: 100%;
    }

    .card>.row>.description {
        width: 100%;
    }

    .count {
        height: 100%;
        display: flex;
        width: 100%;
        gap: 2rem;
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
    }

    .wrapper {
        padding: 20px;
    }

    .cd1 {
        background-image: url(../assets/segurança-Mobile.png);
    }

    .cd2 {
        background-image: url(../assets/Confiança-Mobile.png);
    }

    .cd3 {
        background-image: url(../assets/Acessibilidade-Mobile.png);
    }

    .cd4 {
        background-image: url(../assets/Nescessidade-Mobile.png);
    }
}

@media (max-width: 380px) {
    .count {
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
    }

    .description p {
        font-size: 13px;
        padding-top: 0px;
    }

    .description h4 {
        font-size: 1rem;
    }

    input:checked+label {
        height: 100%;
    }

    .card>.row>.description {
        width: 100%;
        justify-content: center;
    }

    .count {
        height: 100%;
        display: flex;
        width: 100%;
        gap: 2rem;
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
    }

    .wrapper {
        padding: 20px;
    }
}

.pitch {
    width: 100%;
    height: 100vh;
    padding: 5% 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
}

.container-pitch {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pitch-player {
    width: 90%;
    margin: 0 auto;
    z-index: 0;
    position: absolute;
    right: 5%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.informations-pitch {
    width: 85%;
    z-index: 1;
}

#videoPitch {
    aspect-ratio: 560/315;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

iframe {
    border-radius: 15px;
}

.title {
    font-size: calc(30px + 2vw);
    font-weight: 400;
    margin-bottom: 5px;
}

@media only screen and (max-width: 1290px) and (orientation: portrait) {
    .informations-pitch {
        width: 85%;
    }
}

@media only screen and (max-width: 1024px) and (orientation: portrait) {
    .pitch-player {
        width: 100%;
        position: static;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #videoPitch {
        width: 80%;
    }

    .container-pitch {
        width: 100%;
        height: 50%;
    }

    .informations-pitch {
        width: 80%;
    }
}

@media only screen and (max-width: 912px) and (orientation: portrait) {
    .pitch-player {
        width: 100%;
        position: static;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #videoPitch {
        width: 90%;
    }


    .informations-pitch {
        width: 87%;
    }
}

@media only screen and (max-width: 512px) and (orientation: portrait) {

    #videoPitch {
        width: 100%;
    }

    iframe {
        border-radius: 0px;
    }
}

.global-container {
    height: 80vh;
    display: flex;
    align-items: center;
    position: relative;
}

.container-features {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.informations-features {
    width: 80%;
    z-index: 1;
}

.image {
    width: 70%;
    position: relative;
    animation: moveUpDown 3s ease-in-out infinite;
}

@media only screen and (max-width: 1290px) and (orientation: landscape) {
    .informations-features {
        width: 85%;
    }

    .image {
        width: 65%;
    }
}

@media only screen and (max-width: 1024px) and (orientation: portrait) {
    .global-container {
        flex-direction: column;
    }

    .invert {
        flex-direction: column-reverse;
    }

    .container-features {
        width: 100%;
        height: 50%;
    }

    .informations-features {
        width: 80%;
    }

    .image {
        width: 55%;
    }

}

@media only screen and (max-width: 912px) and (orientation: portrait) {
    .informations-features {
        width: 87%;
    }

    .image {
        width: 60%;
    }
}

@media only screen and (max-width: 770px) and (orientation: portrait) {
    .image {
        width: 50%;
    }
}

@media only screen and (max-width: 650px) and (orientation: portrait) {
    .image {
        width: 60%;
    }
}

@media only screen and (max-width: 480px) and (orientation: portrait) {
    .image {
        width: 70%;
    }
}